.comment-section__star {
    width: 1.25rem;
    height: 1.25rem;
    color: #f59e0b;
}

@media (min-width: 1280px) {
    .comment-section__star {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.user-comment__star {
    width: 1rem;
    height: 1rem;
    color: #f59e0b;
}

@media (min-width: 1280px) {
    .user-comment__star {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.comments__divider-border {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    width: 100%;
    height: 0.25rem;
    border-top: 1px solid #94a3b8;
    border-bottom: 1px solid #94a3b8;
}

@media (min-width: 1280px) {
    .comments__divider-border {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}