@import "tailwindcss";

/* @import "tailwindcss/preflight";
@tailwind utilities; */

@layer base {

  /* Font Imports */
  @font-face {
    font-family: "Gotham";
    src: local("gotham"),
      url("/fonts/Homepagebaukasten Bold.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Iran Yekan";
    src: local("IranYekan"),
      url("/fonts/IranYekan/IRANYekanXFaNum-Regular.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Iran Yekan Bold";
    src: local("Iran Yekan Bold"),
      url("/fonts/IranYekan/IRANYekanXFaNum-Bold.ttf") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba";
    src: local("Morabba"), url("/fonts/Morabba/woff2/Morabba-Medium.woff2") format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src: local("Morabba Bold"), url("/fonts/Morabba/woff2/Morabba-Bold.woff2") format("truetype");
    font-display: swap;
  }

  /* /////////////////  */

  html {
    background-color: #F7FAF0;
    overflow: hidden;
    font-family: var(--font-IranYekan);
    color: #3f3f46;
  }

}

@theme {
  /* Brand */
  --color-primary: #9FBE23;
  --color-primary-hover: #B4D52B;
  --color-primary-dark: #7D971B;
  /* Accent */
  --color-neon: #D7FF5C;

  /* Backgrounds */
  --color-dark: #0F1115;
  --color-dark-secondary: #222831;
  --color-surface: #1D2128;

  /* Borders */
  --color-border: #353C46;
  --color-border-light: #3A414C;

  /* Text */
  --color-text: #F5F7FA;
  --color-text-muted: #9CA3AF;

  /* Extra */
  --color-danger: #EF4444;
  --color-success: #22C55E;
  --color-background: #F7FAF0;

  /* Navbar Colors  */
  --color-navbar: #181D24;
  --color-navbar-hover: #222831;
  --color-navbar-menu: #2B313A;
  --color-navbar-border: #313843;

  --font-IranYekan: 'Iran Yekan';
  --font-IranYekanBold: 'Iran Yekan Bold';
  --font-Morabba: 'Morabba';
  --font-MorabbaBold: 'Morabba Bold';
  --font-gotham: 'Gotham';
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-custom-sc: 992px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1921px;
  --shadow-custom: "0px 1px 10px rgb(0, 0, 0, 0.5)";
}

@layer components {
  .overlay {
    @apply invisible opacity-0 fixed inset-0 bg-black/40 w-full h-full z-10 transition-all
  }

  .overlay--visible {
    @apply visible opacity-100
  }

  .visible--elem {
    @apply visible opacity-100
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ltr-dir {
    direction: ltr;
    text-align: left;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }
}